[Desktop Entry]
Name=Thunderpad
Comment=Simple text editor designed for general-purpose usage and casual programming
Version=1.0
Type=Application
Icon=text-editor
Keywords=Text;Plaintext;Write;
Exec=thunderpad %U
Categories=Application;Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
NoDisplay=false
Terminal=false
